mat-toolbar {
  background: #33364a;
  color: white;
}

.content {
  padding: 20px;
}

table {
  width: 100%;
}

.chart1 {
  height: 500px;
}

.card-content {
  background-color: #212531;
  padding: 30px;
}

.main-content {
  background-color: #f0f0f0;
  padding: 30px;
}

.page-content {
  height: calc(100vh - 64px);
  overflow: scroll;
}

.spacer {
  flex: 1 1 auto;
}
.cov-logo {
  width: 90px;
  margin: 10px;
}
.ftm-logo {
  width: 40px;
  margin: 10px;
}
